# Copyright 2020 The Tekton Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- if .Values.rbac.create }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "pipeline.fullname" . }}
rules:
  - apiGroups:
      - ''
    resources:
      - pods
      - limitranges
      - pods/log
      - namespaces
      - secrets
      - events
      - serviceaccounts
      - configmaps
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - apps
    resources: 
      - deployments
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - apps
    resources: 
      - deployments/finalizers
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - admissionregistration.k8s.io
    resources: 
      - mutatingwebhookconfigurations
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - tekton.dev
    resources: 
      - tasks
      - clustertasks
      - taskruns
      - pipelines
      - pipelineruns
      - pipelineresources
      - conditions
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - tekton.dev
    resources: 
      - taskruns/finalizers
      - pipelineruns/finalizers
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups: 
      - tekton.dev
    resources: 
      - tasks/status
      - clustertasks/status
      - taskruns/status
      - pipelines/status
      - pipelineruns/status
      - pipelineresources/status
    verbs: 
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  {{- if .Values.podSecurityPolicy.enabled }}
  - apiGroups: 
      - policy
    resources: 
      - podsecuritypolicies
    resourceNames: 
      - {{ template "pipeline.fullname" . }}
    verbs: 
      - use
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "pipeline.fullname" . }}-edit
  labels:
    rbac.authorization.k8s.io/aggregate-to-edit: 'true'
    rbac.authorization.k8s.io/aggregate-to-admin: 'true'
rules:
  - apiGroups:
      - tekton.dev
    resources:
      - tasks
      - taskruns
      - pipelines
      - pipelineruns
      - pipelineresources
      - conditions
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "pipeline.fullname" . }}-view
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: 'true'
rules:
  - apiGroups:
      - tekton.dev
    resources:
      - tasks
      - taskruns
      - pipelines
      - pipelineruns
      - pipelineresources
      - conditions
    verbs:
      - get
      - list
      - watch
{{- end }}
