.background-image{
    background-image: url('../assets/logo/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    padding: 0.6em;
}

.heading{
    color: white;
    text-align: center
}

.tag-line{
    color: white;
    text-align: center
}
