apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: webhooks-extension-sink
  labels:
    app: webhooks-extension-sink
spec:
  template:
    spec:
      containers:
      - image: "github.com/tektoncd/experimental/webhooks-extension/cmd/sink"
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /liveness
        readinessProbe:
          httpGet:
            path: /readiness
        env:
        # PORT var resolved via containerPort by Knative
        # TODO: Find better way to provide INSTALL_NAMESPACE since Knative does not support Downward API
        - name: INSTALLED_NAMESPACE
          value: "tekton-pipelines"
      serviceAccountName: tekton-webhooks-extension
