.spinner-div {
  padding-left: 40%;
  padding-top: 15%;
}

.noWebhooks {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  font-size: 1.25rem;
}
.table-container {
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .header-title {
    width: 8rem;
    margin-left: 2px;
  }

  #toolbar {
    background: transparent;
  }

  #create-btn {
    background-color: green; 
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 0% 10% 0% 10%;
    height: 100%;
    display: inline-flex;
  }

  #delete-btn {
    padding: 0.875rem 2.5rem 0.875rem 0.5rem;
  }

  .add-icon-div {
    padding-right: 0.2rem;
    fill: green;
  }

  .add-icon {
    vertical-align: middle;
  }

  .search-bar {
    width: 100%;
    display: contents;
  }

  .bx--btn--ghost {
    color: green; 
  }

  .bx--batch-actions--active {
    justify-content: flex-end;
    visibility: visible !important;
  }

  .bx--batch-actions {
    visibility: hidden;
  }

  .bx--data-table-header {
    background: #f4f7fb;
  }

  .bx--table-toolbar {
    border-left: 2px solid #f4f7fb;
    border-right: 3px solid #f4f7fb;
    background: #f4f7fb;
  }

  .bx--toolbar-search-container-expandable .bx--search {
    width: 100%;
  }

  .bx--data-table th {
    background-color: #7190c1;
    border: 2px solid white;
  }

  .bx--table-sort {
    background-color: #7190c1;
    padding: 0px;
  }

  .bx--table-sort:focus {
    outline: transparent;
  }

  .bx--btn--primary {
    color: #ffffff;
    white-space: nowrap;
    height: 3rem;
  }

  .bx--data-table--zebra tbody tr:nth-child(odd) td {
    border: 0, 2px, 2px, 2px solid white;
  }

  .bx--data-table--zebra tbody tr:nth-child(even) td {
    border: 2px solid white;
  }

  .bx--inline-notification {
    max-width: 100%;
  }

}

.modal-delete {

  .checkbox-div {
    margin-top: 0.25rem;
  }

  .bx--modal-content {
    margin-bottom: 1.5rem;
  }

  .bx--modal-content > * {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .modal-legend {
    font-weight: bold;
    line-height: 3rem;
  }

  .bx--checkbox-label::before {
    margin-left: 0.25rem;
  }

  .bx--checkbox-label::after {
    margin-left: 0.125rem;
  }

  .bx--checkbox-label {
    font-size: 80%;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
  }

  %primary-secondary-shared {
    display: inline;
    text-align: center;
    padding: 0px;
    font-weight: bold;
  }

  .bx--btn.bx--btn--danger {
    @extend %primary-secondary-shared;
    background-color: green;
    border-color: green;
  }
  
  .bx--btn.bx--btn--secondary {
    @extend %primary-secondary-shared;
    background-color: red;
  }

}
