/* * {
    box-sizing: border-box;
}

.body {
    background-color: lightgreen;
}

.main {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "search-bar search-bar"
        "filter  task-card-container"
        "footer footer";
    grid-template-columns: 1fr 6fr;
    gap: 1em;   
}

.main>div {
    padding: 1em;
    background-color: lightgray;
    
}

.task-card {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

.search-bar {
    grid-area: search-bar;
}

.navbar {
    grid-area: navbar;
}

.filter {
    grid-area: filter;
}

.task-card-container {
    grid-area: task-card-container;
}

.footer {
    grid-area: footer;
}

.navLink{
    margin-left: 0.5em;   
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */


/* .main {
        display: grid;
        grid-template-areas:
            "navbar"
            "search-bar"
            "filter"
            "task-card-container"
            "footer";
        grid-template-columns: 1fr;
        gap: 1em;
    }
} */

.header {
    background-color: #EDEDED;
}

.pf-c-dropdown svg {
    margin-left: 0.2em;
    margin-right: 0em;
}