apiVersion: v1
kind: Secret
metadata:
  name: tekton-concurrency-webhook-certs
  namespace: tekton-concurrency
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-experimental-concurrency
    pipeline.tekton.dev/release: "devel"
# The data is populated at install time.
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validation.webhook.concurrency.custom.tekton.dev
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-experimental-concurrency
    pipeline.tekton.dev/release: "devel"
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: tekton-concurrency-webhook
      namespace: tekton-concurrency
  rules:
  - operations: ["CREATE", "UPDATE"]
    apiGroups: ["tekton.dev"]
    apiVersions: ["v1alpha1"]
    resources: ["concurrencycontrols"]
  failurePolicy: Fail
  sideEffects: None
  name: validation.webhook.concurrency.custom.tekton.dev
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: webhook.concurrency.custom.tekton.dev
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-experimental-concurrency
    pipeline.tekton.dev/release: "devel"
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: tekton-concurrency-webhook
      namespace: tekton-concurrency
  rules:
  - operations: ["CREATE"]
    apiGroups: ["tekton.dev"]
    apiVersions: ["v1beta1", "v1"]
    resources: ["pipelineruns"]
  failurePolicy: Fail
  sideEffects: None
  name: webhook.concurrency.custom.tekton.dev