.description{
    margin: 1em;
}

.example{
    margin: 1em;
}

.tabContent{
    margin:1em;
}

.readme > h2:first-child, .readme > h1:first-child  {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}
.readme > h2, h3 {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.readme > h2:first-child {
    padding-top: 0em;
    padding-bottom: 0.5em;
}
.readme > ul {
    list-style-type: disc;
    padding-left: 2em;
}
.readme > ol {
    padding-left: 2em;
    font-family: Helvetica;
    padding-bottom: 0.5em;
}
.readme > ul > li {
  padding-bottom: 0.5em;
}
.readme > p {
  padding-bottom: 0.5em;
}
.readme {
  font-family: Helvetica;
}

code {
    font-family: Consolas,"courier new";
    font-weight: bold;
    color: crimson;
    padding: 2px;
    font-size: 100%;
}

.a > code {
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 90%;
  }

.yaml > p {
    text-align: center;
}